<div class="container">
    <h3 class="text-center text-uppercase">Lijst met cursussen</h3>
    <table class="table table-bordered table-striped col-md-6">
        <thead>
            <tr class="text-center text-uppercase">
                <th>Start</th>
                <th>Duur</th>
                <th>Titel</th>
            </tr>
        </thead>
        <tbody>
            <tr class="text-center" *ngFor = "let c of cursusInstanties">
                <td>{{c.startdatum | customDate }}</td>
                <td>{{c.cursus.duur}}</td>
                <td>{{c.cursus.titel}}</td>
            </tr>
        </tbody>
    </table>
    </div>
